.layout {
    height: 100%;
}

.layout .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 53px;
}

/*.layout .header .logo {*/
/*    width: 120px;*/
/*    height: 31px;*/
/*    background-image: url(https://gisp.gov.ru/gisplk/assets/images/mptr_logo.png);*/
/*}*/

.layout .content {
    padding: 10px;
    background-color: #f7f7f7;
}
